{% extends "askme/base.html" %}

{% block main_content %}
    <div class="m-3 d-flex flex-column">
        <div class="m-2 m-sm-3 d-flex flex-column-reverse flex-sm-row justify-content-evenly">
            <!-- Блок вопроса -->
            <div class="m-3 d-flex flex-row flex-sm-column justify-content-center align-items-center border">
                <!-- Аватарка и счетчик -->
                <a class="m-3 align-self-end align-items-center justify-content-start"
                   href="{% url "settings_view" question.asker.id %}">
                    <img class="img" src="{{ question.asker.avatar_url }}" width="66" height="66"
                         role="img">
                    <p class="text">{{ question.asker.name }}</p>
                </a>
                <div class="m-3 d-flex flex-row align-items-center">
                    <!-- счетчик -->
                    <h4 class="m-1">{{ question.rating }}</h4>
                    <div class="btn-group-vertical">
                        <button type="button"
                                class="btn {% if question.my_rating > 0 %} btn-success {% else %} btn-outline-success {% endif %}">
                            +
                        </button>
                        <button type="button"
                                class="btn {% if question.my_rating < 0 %} btn-danger {% else %} btn-outline-danger {% endif %}">
                            -
                        </button>
                    </div>
                </div>
            </div>
            <div class="m-3 d-flex flex-column border">
                <!-- Заголовок, текст вопроса, кол-во ответов и теги -->
                <a class="m-3 text-center" href="{% url "question_view" question.id %}">
                    <h2>{{ question.title }}</h2>
                </a>
                <p class="m-3">{{ question.body }}</p>
                <div class="m-3 d-flex flex-lg-row flex-column align-items-center justify-content-around">
                    <a class="me-lg-auto " href="{% url "question_view" question.id %}">
                        <p>Answers ({{ question.answer_set.count }})</p>
                    </a>
                    <p>Tags:</p>
                    <div class="d-inline-flex">
                        {% for tag in question.tags.all %}
                            <a class="row m-1" href="{% url "tag_view" tag.name|escape %}">
                                <p>{{ tag.name }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% for answer in answers %}
            {% include "askme/answer_template.html" %}
        {% endfor %}
        <div class="m-3 d-flex flex-row">
            <label class="col-form-label m-3" for="body">Добавить ответ</label>
            <textarea class="form-control" type="text" id="body"></textarea>
        </div>
        <button class="m-3 btn btn-success align-self-center">Задать!</button>
    </div>
{% endblock %}